<!-- Modern Footer -->
<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Shoes Store. All rights reserved.</p>
        <div class="footer-links">
            <a href="/about">About Us</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank" class="social-icon facebook">Facebook</a>
            <a href="https://twitter.com" target="_blank" class="social-icon twitter">Twitter</a>
            <a href="https://instagram.com" target="_blank" class="social-icon instagram">Instagram</a>
        </div>
    </div>
</footer>
